<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sui.haedal.mapper.FarmingPoolCreateMapper">

    <select id="farmingPoolRewardPerSecond" resultType="com.sui.haedal.model.vo.FarmingPoolCreateVo">
        select ppc.*,newprca.reward_per_second,newprca.reward_token_type,cc.feed_id reward_feed_id,cc.coin_decimals reward_coin_decimals from farming_pool_create ppc
        inner JOIN farming_reward_config_new newprca on newprca.pool_id=ppc.pool_id
        left JOIN  coin_config cc on cc.coin_type=newprca.reward_token_type
        where 1=1
        <if test="htokenTypes != null and htokenTypes.size() >0 ">
            and ppc.stake_token_type in
            <foreach collection="htokenTypes" item="htoken" index="index" open="(" separator="," close=")">
                #{htoken}
            </foreach>
        </if>
        <if test="marketIds != null and marketIds.size() >0 ">
            and ppc.market_id in
            <foreach collection="marketIds" item="marketId" index="index" open="(" separator="," close=")">
                #{marketId}
            </foreach>
        </if>

    </select>

    <select id="userFarmingStake" resultType="com.sui.haedal.model.vo.FarmingPoolCreateVo">
        SELECT fs.pool_id,fpc.stake_token_type,fs.amount user_deposit_amount from farming_stake  fs
        inner join farming_pool_create fpc on fpc.pool_id=fs.pool_id
        where fs.`user`=#{userAddress}
    </select>


</mapper>