<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sui.haedal.mapper.EarnMapper">

    <select id="vaultApy" resultType="com.sui.haedal.model.vo.VaultVo">
        SELECT vault_id,MAX(transaction_time) transaction_time,ANY_VALUE(apy) apy from vault_apy
         <if test="vaultId!=null and vaultId!=''">
             where vault_id=#{vaultId}
         </if>
         GROUP BY vault_id
    </select>
    <select id="vaultStrategy" resultType="com.sui.haedal.model.vo.StrategyVo">
       SELECT vbc.vault_id,b.collateral_token_type,b.loan_token_type,vbc.cap,vbc.weight_bps,rd.borrow_rate apy from vault_set_allocation_cap vbc
        INNER JOIN (select MAX(transaction_time) transaction_time from vault_set_allocation_cap where vault_id=#{vaultId} GROUP BY vault_id,market_id) lastvbc
        on lastvbc.transaction_time=vbc.transaction_time
        left join borrow b on b.market_id=vbc.market_id
        left join (SELECT market_id,max(transaction_time) transaction_time,ANY_VALUE(borrow_rate) borrow_rate from rate_detail GROUP BY market_id) rd on rd.market_id=vbc.market_id
    </select>

    <select id="allVaultStrategy" resultType="com.sui.haedal.model.vo.StrategyVo">
        SELECT b.market_id,vbc.vault_id,b.collateral_token_type,b.loan_token_type,vbc.cap,vbc.weight_bps from vault_set_allocation_cap vbc
        INNER JOIN (select MAX(transaction_time) transaction_time from vault_set_allocation_cap  GROUP BY vault_id,market_id) lastvbc on lastvbc.transaction_time=vbc.transaction_time
        left join borrow b on b.market_id=vbc.market_id
    </select>

    <select id="vaultDetail" resultType="com.sui.haedal.model.vo.VaultVo">
        SELECT v.*,b.collateral_token_type,b.lltv from vault v
        left join vault_set_allocation_cap vbc on vbc.vault_id=v.vault_id
        left join borrow b on b.market_id=vbc.market_id
        where v.vault_id=#{vaultId}
    </select>

    <select id="vaultDeposit" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT
        vaultDepositTotal.*,
        cc.feed_id
        FROM
        (
        SELECT
        DATE_FORMAT( max( transaction_time ), '%Y-%m-%d %H:%i' ) AS transaction_time,
        DATE_FORMAT( transaction_time, #{mysqlDateFormat}) AS dateUnit,
        sum(asset_amount) AS val,
        vault_id,
        max(asset_type) coin_type
        FROM
        vault_deposit
        WHERE  transaction_time &gt;= #{start} AND transaction_time &lt;= #{end}
        <choose>
            <when test="statisticalRole==true">
                AND user = #{userAddress}
            </when>
            <otherwise>
                AND vault_id =#{businessPoolId}
            </otherwise>
        </choose>
        GROUP BY
        dateUnit,
        vault_id
        ) vaultDepositTotal
        LEFT JOIN coin_config cc ON cc.coin_type = vaultDepositTotal.coin_type
        ORDER BY
        vaultDepositTotal.dateUnit
    </select>

    <select id="vaultDepositLTTransactionTime" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT
        vaultDepositTotal.*,
        cc.feed_id
        FROM
        (
        SELECT
        vault_id,sum(asset_amount) AS val,max(asset_type) coin_type
        FROM vault_deposit
        WHERE  transaction_time &lt;= #{start}
        <choose>
            <when test="statisticalRole==true">
                AND user = #{userAddress}
            </when>
            <otherwise>
                AND vault_id =#{businessPoolId}
            </otherwise>
        </choose>
        GROUP BY vault_id
        ) vaultDepositTotal
        LEFT JOIN coin_config cc ON cc.coin_type = vaultDepositTotal.coin_type
    </select>

    <select id="vaultWithdraw" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT
        vaultWithdrawTotal.*,
        cc.feed_id
        FROM
        (
        SELECT
        DATE_FORMAT( max( transaction_time ), '%Y-%m-%d %H:%i' ) AS transaction_time,
        DATE_FORMAT(transaction_time, #{mysqlDateFormat}) AS dateUnit,
        sum(asset_amount) AS val,
        vault_id,
        max( asset_type) AS coin_type
        FROM
        vault_withdraw
        WHERE   transaction_time &gt;= #{start} AND transaction_time &lt;= #{end}
        <choose>
            <when test="statisticalRole==true">
                AND user = #{userAddress}
            </when>
            <otherwise>
                AND vault_id =#{businessPoolId}
            </otherwise>
        </choose>
        GROUP BY dateUnit,vault_id
        ) vaultWithdrawTotal
        LEFT JOIN coin_config cc ON cc.coin_type = vaultWithdrawTotal.coin_type
        ORDER BY
        vaultWithdrawTotal.dateUnit
    </select>

    <select id="vaultWithdrawLTTransactionTime" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT
        vaultWithdrawTotal.*,
        cc.feed_id
        FROM
        (
        SELECT
        vault_id,sum(asset_amount) AS val,max(asset_type) AS coin_type
        FROM vault_withdraw
        WHERE  transaction_time &lt;= #{start}
        <choose>
            <when test="statisticalRole==true">
                AND user = #{userAddress}
            </when>
            <otherwise>
                AND vault_id =#{businessPoolId}
            </otherwise>
        </choose>
        GROUP BY vault_id
        ) vaultWithdrawTotal
        LEFT JOIN coin_config cc ON cc.coin_type = vaultWithdrawTotal.coin_type
    </select>

    <select id="vaultAPYStatistics" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT
        DATE_FORMAT(max(transaction_time), '%Y-%m-%d %H:%i' ) AS transaction_time,
        DATE_FORMAT(transaction_time, #{mysqlDateFormat}) AS dateUnit,
        max(apy) AS val
        FROM vault_apy
        WHERE  transaction_time &gt;= #{start} AND transaction_time &lt;= #{end}  and vault_id =#{businessPoolId}
        GROUP BY dateUnit
    </select>

    <select id="vaultSharePriceLTTransactionTime" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
         SELECT
        DATE_FORMAT(max(transaction_time), '%Y-%m-%d %H:%i') AS transaction_time,
        DATE_FORMAT(transaction_time, '%Y-%m-%d') AS dateUnit,
        sum(exchange_rate) AS val
        FROM vault_exchange_rate
        WHERE  transaction_time &lt;= #{end}  and vault_id =#{businessPoolId}
        GROUP BY dateUnit
    </select>

</mapper>