<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sui.haedal.mapper.BorrowMapper">
    <select id="userCollateralSupply" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT userMarket.*,cc.coin_type,cc.feed_id from
        (SELECT DATE_FORMAT(max(transaction_time), '%Y-%m-%d %H:%i' ) AS transaction_time,
        DATE_FORMAT(transaction_time,#{mysqlDateFormat}) AS dateUnit,sum( assets ) AS val,market_id,max(collateral_token_type) collateral_token_type FROM borrow_supply_detail
        WHERE supply_type =2 AND caller_address =#{userAddress}
        and transaction_time &gt;=#{start} and transaction_time &lt;=#{end} GROUP BY dateUnit,market_id) userMarket
        left join coin_config cc on cc.coin_type=userMarket.collateral_token_type ORDER BY userMarket.dateUnit
    </select>

    <select id="userCollateralSupplyLTTransactionTime" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT
        userMarket.*,
        cc.coin_type,
        cc.feed_id
        FROM
        (
        SELECT
        market_id,sum( assets ) AS val,
        max( collateral_token_type ) collateral_token_type
        FROM borrow_supply_detail
        WHERE  supply_type = 2
        AND caller_address = #{userAddress}
        AND transaction_time &lt;= #{start}
        GROUP BY
        market_id
        ) userMarket
        LEFT JOIN coin_config cc ON cc.coin_type = userMarket.collateral_token_type
    </select>

    <select id="userCollateralWithdraw" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
         SELECT userMarket.*,cc.feed_id  from (
         SELECT DATE_FORMAT( max( transaction_time ), '%Y-%m-%d %H:%i' ) AS transaction_time,
         DATE_FORMAT(transaction_time,#{mysqlDateFormat}) AS dateUnit,sum( assets ) AS val, market_id,
         max(collateral_token_type) as coin_type FROM borrow_withdraw_collateral
         WHERE caller_address =#{userAddress} and transaction_time &gt;=#{start} and transaction_time &lt;=#{end} GROUP BY dateUnit, market_id) userMarket
         LEFT JOIN coin_config cc ON cc.coin_type = userMarket.coin_type ORDER BY userMarket.dateUnit
    </select>

    <select id="userCollateralWithdrawLTTransactionTime" resultType="com.sui.haedal.model.vo.TimePeriodStatisticsVo">
        SELECT
        userMarket.*,
        cc.feed_id
        FROM
        (
        SELECT
        sum( assets ) AS val,market_id,max( collateral_token_type ) AS coin_type
        FROM borrow_withdraw_collateral
        WHERE caller_address = #{userAddress}
        AND transaction_time &lt;= #{start}
        GROUP BY
        market_id
        ) userMarket
        LEFT JOIN coin_config cc ON cc.coin_type = userMarket.coin_type
    </select>

    <select id="queryBorrowDetailLine" resultType="com.sui.haedal.model.vo.BorrowRateLineVo">
        SELECT
        DATE_FORMAT( max( transaction_time ), '%Y-%m-%d %H:%i' ) transaction_time,
        DATE_FORMAT(
        transaction_time,#{mysqlDateFormat}) AS dateUnit,
        CAST(sum(assets) AS CHAR) AS amount
        FROM
        <choose>
            <when test="lineType==2">
                borrow_detail
            </when>
            <otherwise>
                borrow_supply_detail
            </otherwise>
        </choose>
        WHERE
        market_id =#{marketId}
        AND transaction_time &gt;=#{start} and transaction_time &lt;=#{end}
        GROUP BY
        dateUnit
    </select>

    <select id="queryBorrowDetailRateLine" resultType="com.sui.haedal.model.vo.BorrowRateLineVo">
        SELECT
        DATE_FORMAT( rd.transaction_time, '%Y-%m-%d %H:%i' ) transaction_time,
        DATE_FORMAT(
        rd.transaction_time,#{mysqlDateFormat}) AS dateUnit,
        CAST(rd.borrow_rate / 10000000000000000 AS CHAR) AS interestRate
        FROM
        rate_detail rd
        INNER JOIN (
        SELECT
        DATE_FORMAT(
        transaction_time,#{mysqlDateFormat}) AS timeGroup,
        MAX( transaction_time ) AS last_time
        FROM
        rate_detail
        WHERE
        market_id =#{marketId}
        <choose>
            <when test="lineType==2">
                and rate_type in('borrow','borrow_and_supply')
            </when>
            <otherwise>
                and rate_type in('supply')
            </otherwise>
        </choose>
        AND transaction_time &gt;=#{start} and transaction_time &lt;=#{end}
        GROUP BY
        timeGroup
        ) t ON DATE_FORMAT(
        transaction_time,#{mysqlDateFormat}) = t.timeGroup
        AND rd.transaction_time = t.last_time
    </select>


    <select id="queryRateDateGroup" resultType="com.alibaba.fastjson.JSONObject">
        SELECT dateUnit,GROUP_CONCAT(interestRate) interestRate,GROUP_CONCAT(rate_type) rateType from (
        SELECT DATE_FORMAT(rd.transaction_time,'%Y-%m-%d') as dateUnit,rd.borrow_rate/10000000000000000 interestRate,rate_type
        FROM rate_detail rd INNER JOIN (
        SELECT DATE_FORMAT(transaction_time,'%Y-%m-%d') AS timeGroup, MAX(transaction_time) AS last_time FROM rate_detail
        where market_id=#{marketId} and rate_type in ('supply','borrow') GROUP BY timeGroup,rate_type
        ) t ON DATE_FORMAT(transaction_time,'%Y-%m-%d') = t.timeGroup AND rd.transaction_time = t.last_time  ORDER BY rate_type DESC
        )a GROUP BY dateUnit
    </select>

    <select id="dateGroupSupplyAssets" resultType="com.alibaba.fastjson.JSONObject">
        SELECT IFNULL(sum(assets),0) supplyAssets,DATE_FORMAT(transaction_time,'%Y-%m-%d') timeGroup from
        borrow_supply_detail where market_id =#{marketId} and supply_type=1  GROUP BY timeGroup
    </select>

    <select id="dateGroupBorrowAssets" resultType="com.alibaba.fastjson.JSONObject">
        SELECT IFNULL(sum(assets),0) borrowAssets,DATE_FORMAT(transaction_time,'%Y-%m-%d') timeGroup from borrow_detail
          where market_id=#{marketId} GROUP BY timeGroup
    </select>

    <select id="marketCurrentU" resultType="string">
        SELECT total_loan_amount/total_supply_amount currentU from borrow where market_id=#{marketId}
    </select>
</mapper>